{% extends "base.html" %}
{% block content %}
   <div class="content">
            <h3>10.8.2014</h3>
            <div class="paragraphcontainer">
                <p>there are currently no tutorials.
            </div>
        </div>
    </div>
{#    <div id="glitch-menu">#}
{#        <ul>#}
{#            <li class="active"><a href="{{ url_for('glitch_tutorials') }}">tutorials</a>#}
{#            </li>#}
{#            <li><a href="{{ url_for('glitch_exhibition') }}">exhibition</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{% endblock %}
