{% extends "base.html" %}
{% block content %}
	<div class="content">
            <h3>10.7.2014</h3>
            <div class="paragraphcontainer">
                <p>check back soon for tutorials related to:</p>
                <ul>
                    <li>
                        <p>glitch and generative art</p>
                    </li>
                    <li>
                        <p>raspberry pi</p>
                    </li>
                    <li>
                        <p>web application development</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sidr">
        <ul>
            <li><a href="{{ url_for('glitch_tutorials') }}">tutorials</a>
            </li>
            <li><a href="{{ url_for('glitch_exhibition') }}">exhibition</a>
            </li>
        </ul>
    </div>
{% endblock %}
